# Create an Empty DataFrame
A basic DataFrame, which can be created is an Empty Dataframe.

In [1]:
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

# Create a DataFrame from Lists
The DataFrame can be created using a single list or a list of lists.

In [ ]:
#Example1
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data) 
print df

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
#Example2
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print df

Note − Observe, the dtype parameter changes the type of Age column to floating point.(The numbers 0, 1, 2, 3, and 4 in the leftmost column are the index labels for each row, which are automatically generated by Pandas.This line creates a Pandas DataFrame called "df" from the "data" list. By default, when you create a DataFrame from a list, Pandas will treat the list as a single column of data)

# Create a DataFrame from Dict of ndarrays / Lists
All the ndarrays must be of same length. If index is passed, then the length of the index should equal to the length of the arrays.

If no index is passed, then by default, index will be range(n), where n is the array length.

In [ ]:
#Example1
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print df

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

Note − Observe the values 0,1,2,3. They are the default index assigned to each using the function range(n).

Let us now create an indexed DataFrame using arrays.

In [ ]:
#Example2
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print df

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

Note − Observe, the index parameter assigns an index to each row.

# Create a DataFrame from List of Dicts
List of Dictionaries can be passed as input data to create a DataFrame. The dictionary keys are by default taken as column names.

The following example shows how to create a DataFrame by passing a list of dictionaries.

In [ ]:
#Example1
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print df

   a   b     c
0  1   2   NaN
1  5  10  20.0

Note − Observe, NaN (Not a Number) is appended in missing areas.

The following example shows how to create a DataFrame by passing a list of dictionaries and the row indices.

In [ ]:
#Example2
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print df

        a   b     c
first   1   2   NaN
second  5  10  20.0

The following example shows how to create a DataFrame with a list of dictionaries, row indices, and column indices.

In [ ]:
#Example3
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print df1
print df2

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

Note − Observe, df2 DataFrame is created with a column index other than the dictionary key; thus, appended the NaN’s in place. Whereas, df1 is created with column indices same as dictionary keys, so NaN’s appended.

# Create a DataFrame from Dict of Series
Dictionary of Series can be passed to form a DataFrame. The resultant index is the union of all the series indexes passed.

In [ ]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

Note − Observe, for the series one, there is no label ‘d’ passed, but in the result, for the d label, NaN is appended with NaN.