<h3 style="color:#C0C0C0;text-align:center;font-size: smaller;">Applied Machine Learning and Data Mining - U26538</h3>

<br>
<h1 style="color:#800080;text-align:center;"> Practical Exercise (13)</h1>
<h2 style="color:#800080;text-align:center;">Machine Learning Algorithms: Regression</h2>

<b>Simple Linear Regression</b>

From moodle/ datasets, download the Students Score dataset and upload it to your Jupyter directory.

Create a new Juypter notebook called pract13SLRex.

<ol>
<li>Apply data Preprocessing (if needed)</li>
<li>Appy exploratory Data Analysis</li>
<li>Build a Machine learning algorithms model using Linear Regression</li>
<li>Evaluate the model</li>
</ol>

<b>Multiple Linear Regression</b>

From moodle/ datasets, download the Cars dataset and upload it to your Jupyter directory.

Create a new Juypter notebook called pract13MLRex.

<ol>
<li>Apply data Preprocessing (if needed)</li>
<li>Appy exploratory Data Analysis</li>
<li>Build a Machine learning algorithms model using Multiple Linear Regression</li>
<li>Evaluate the model</li>
</ol>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
%matplotlib inline
#this will make your plot outputs appear and be stored within the notebook

In [2]:
df = pd.read_csv("cars.csv")

In [5]:
df

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120

In [6]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False, drop='first')
encoded_features = encoder.fit_transform(df[['Car', 'Model']])
df_encoded = pd.concat([df, pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(['Car', 'Model']))], axis=1)
df_encoded.drop(['Car', 'Model'], axis=1, inplace=True)

c:\Users\krujo\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [11]:
x = df_encoded.iloc[:, :-1]
y = df_encoded.iloc[:, -1].values
y

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0.])

In [144]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [145]:
from sklearn.linear_model import LinearRegression

ln = LinearRegression()
ln.fit(x_train, y_train)

# Make predictions on the test set
y_pred = ln.predict(x_test)

In [146]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 0.09946727806191115
R-squared: 0.0

In [147]:

from sklearn.metrics import r2_score
print("R2 score:", r2_score(y_test, y_pred))

# Evaluating the model using Adjusted R² Evaluation Metric
adj_r2 = 1 - (1-r2_score(y_test, y_pred))*(len(y_pred)-1)/(len(y_pred)-x_test.shape[1]-1)
print("Adjusted R2 score:", adj_r2)

R2 score: 0.0
Adjusted R2 score: 1.1555555555555554