<h3 style="color:#C0C0C0;text-align:center;font-size: smaller;">Applied Machine Learning and Data Mining - U26538</h3>

<br>
<h1 style="color:#800080;text-align:center;"> Practical Worksheet (7)</h1>
<h2 style="color:#800080;text-align:center;">Advanced Dataframe Functions</h2>

<h3 b> Introduction </h3>

In the following practical worksheet, you will learn additional Panda and dataframe functions. If you have any questions please ask for assistance during the session and you can also email me if you have any further questions <u> alaa.mohasseb@port.ac.uk</u>.

<u>Dataset</u>

In this practical exercise,  we will be using the Titanic dataset, the dataset has the following attributes:
For more information: http://campus.lakeforest.edu/frank/FILES/MLFfiles/Bio150/Titanic/TitanicMETA.pdf

<u>Import the Libraries</u>

In a new Jupyter Notebook (practWeek7), load the NumPy and pandas libraries:

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
#this will make your plot outputs appear and be stored within the notebook

<u>Read External Data</u> (Titanic Dataset)
<ul>
<li>Download the dataset from your moodle page.</li>
<li>Upload the dataset to your Jupyter dashboard.</li>
<li>To read an external data (csv file) use the following command:</li>
</ul>

In [4]:
titanic = pd.read_csv("titanic Dataset (1).csv")

<u>Data understanding and Exploration</u>

To understand the dataset, analysis should be done and some information needs to be explored such as:

- The Attributes

- Data Shape

- Data Description

- Data Information

- Data Dimensionality

In [22]:
titanic.keys() #Print the attributes

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Labels'],
      dtype='object')

In [ ]:
titanic.shape #data shape

In [23]:
titanic.describe() #Data description

         Survived
count  887.000000
mean     0.384442
std      0.486738
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [24]:
titanic.head() #Print the data as a dataframe

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Labels
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S,
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C,
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S,
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S,
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S,

In [25]:
titanic['Survived'].value_counts() #Print the value counts of the following attributes

0.0    546
1.0    341
Name: Survived, dtype: int64

In [26]:
titanic.info() #Display data Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  888 non-null    object
 1   Survived     887 non-null    float64
 2   Pclass       887 non-null    object
 3   Name         887 non-null    object
 4   Sex          887 non-null    object
 5   Age          712 non-null    object
 6   SibSp        887 non-null    object
 7   Parch        887 non-null    object
 8   Ticket       887 non-null    object
 9   Fare         887 non-null    object
 10  Cabin        205 non-null    object
 11  Embarked     885 non-null    object
 12  Labels       888 non-null    object
dtypes: float64(1), object(12)
memory usage: 90.3+ KB

In [27]:
titanic.ndim #Display Data Dimensionality

2

<u>Convert Data type</u>

Before converting data types you need to make sure that there are no missing data.

- Apply a function to replace the missing values in the Age attribute with the mean.
- Apply a function to replace the NaN values in the Cabin attribute with unavailable.

After filling in the missing data, the data type could be converted for the <i>Age attribute</i> from <i>float</i> to <i>integer</i>.

To display the data type the following functions <code>.astype()</code> (view and edit data type) and <code>dtypes</code> (only view data type) could be used.

In [28]:
#this function is used to only view data type
titanic.dtypes

PassengerId     object
Survived       float64
Pclass          object
Name            object
Sex             object
Age             object
SibSp           object
Parch           object
Ticket          object
Fare            object
Cabin           object
Embarked        object
Labels          object
dtype: object

In [29]:
#this function is used to view and edit data type
titanic.astype

<bound method NDFrame.astype of     PassengerId  Survived Pclass  \
0             9       1.0    3.0
1            10       1.0    2.0
2            11       1.0    3.0
3            12       1.0    1.0
4            13       0.0    3.0
..          ...       ...    ...
883       10000       NaN    NaN
884         900       0.0      1
885         900       0.0      3
886         901       1.0      1
887         902       1.0      1

                                                  Name     Sex   Age SibSp  \
0    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0   0.0
1                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0   1.0
2                      Sandstrom, Miss. Marguerite Rut  female   4.0   1.0
3                             Bonnell, Miss. Elizabeth  female  58.0   0.0
4                       Saundercock, Mr. William Henry    male  20.0   0.0
..                                                 ...     ...   ...   ...
883                                                NaN     NaN  22.0   NaN
884                                             adam K    male    30     0
885                                             adam K    male    30     0
886                                           justin m    male    10     0
887                                            sarah F  female    23     0

    Parch     Ticket     Fare Cabin Embarked Labels
0     2.0     347742  11.1333   NaN        S
1     0.0     237736  30.0708   NaN        C
2     1.0    PP 9549     16.7    G6        S
3     0.0     113783    26.55  C103        S
4     0.0  A/5. 2151     8.05   NaN        S
..    ...        ...      ...   ...      ...    ...
883   NaN        NaN      NaN   NaN      NaN
884     0       4400      7.2   C50        C
885     0       4400      7.2    C7        C
886     0       4500     7.55   E50        C
887     0       7800     54.2   C80        C

[888 rows x 13 columns]>

As shown in the output the data type for the age attribute is float. Now convert this to an integer using the following function:

Note: before converting datatype you need to handle missing values

In [ ]:
titanic['Age']=titanic['Age'].astype(int)

Now display again the data types. You will notice that the age data type has changed from float to integer.

<u>The Describe Function</u>

Previously the describe function was used on the entire DataFrame, statistics and only the columns with numeric datatypes are returned, and in DataFrame format. Now <code>describe()</code> function will be used to get basic statistics on specific columns in the Pandas DataFrame.

<i>Note the differences between columns with numeric data types, and columns of strings and characters.</i>

In [30]:
titanic['Sex'].describe()

count      887
unique       2
top       male
freq       575
Name: Sex, dtype: object

In [31]:
titanic['Fare'].describe()

count     887.0
unique    249.0
top        13.0
freq       42.0
Name: Fare, dtype: float64

<u>Selecting and Manipulating Data</u>

<u>Selecting columns</u>

There are three main methods of selecting columns in pandas:

- using a dot notation.
- using square braces and the name of the column as a string.
- or using numeric indexing and the iloc selector.

In [32]:
titanic.Cabin #dot notation

0       NaN
1       NaN
2        G6
3      C103
4       NaN
       ...
883     NaN
884     C50
885      C7
886     E50
887     C80
Name: Cabin, Length: 888, dtype: object

In [33]:
titanic['Cabin'] #quare braces and the name of the column as a string.

0       NaN
1       NaN
2        G6
3      C103
4       NaN
       ...
883     NaN
884     C50
885      C7
886     E50
887     C80
Name: Cabin, Length: 888, dtype: object

In [34]:
titanic.iloc[:,[10]] #numeric indexing and the iloc selector.

    Cabin
0     NaN
1     NaN
2      G6
3    C103
4     NaN
..    ...
883   NaN
884   C50
885    C7
886   E50
887   C80

[888 rows x 1 columns]

Also, multiple columns could be selected at the same time and a new DataFrame could be extracted from the existing DataFrame.

- Using the square-brace selection with a list of column names.
- using numeric indexing with the iloc selector and a list of column numbers.

In [35]:
titanic[['Cabin', 'Fare']] #square-brace selection with a list of column names.

    Cabin     Fare
0     NaN  11.1333
1     NaN  30.0708
2      G6     16.7
3    C103    26.55
4     NaN     8.05
..    ...      ...
883   NaN      NaN
884   C50      7.2
885    C7      7.2
886   E50     7.55
887   C80     54.2

[888 rows x 2 columns]

In [7]:
titanic.iloc[:,[1,5]] #numeric indexing with the iloc selector and a list of column numbers.

     Survived   Age
0           0  22.0
1           1  38.0
2           1  26.0
3           1  35.0
4           0  35.0
..        ...   ...
886         0  27.0
887         1  19.0
888         0   NaN
889         1  26.0
890         0  32.0

[891 rows x 2 columns]

<u>Selecting rows</u>

Rows in a DataFrame are selected, typically, using the iloc/loc selection methods, or using logical selectors (selecting based on the value of another column or variable).

The basic methods are:

- numeric row selection using the iloc selector.
- label-based row selection using the loc selector (this is only applicable if you have set an “index” on your dataframe.
- logical-based row selection using evaluated statements.
- Selecting rows and columns.

<i>Note that when selecting columns, if one column only is selected, the <code>.loc</code> operator returns a Series. For a single column DataFrame, use a one-element list to keep the DataFrame format</i>

In [8]:
#numeric row selection using the iloc selector.
#select the first 7 rows

titanic.iloc[0:7, :]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [9]:
#select row number 50
titanic.loc[50, :]

PassengerId                            51
Survived                                0
Pclass                                  3
Name           Panula, Master. Juha Niilo
Sex                                  male
Age                                   7.0
SibSp                                   4
Parch                                   1
Ticket                            3101295
Fare                              39.6875
Cabin                                 NaN
Embarked                                S
Name: 50, dtype: object

If a squire practice is added around the row number as shown below the data will be returned as a Dataframe

If selections of a single column are made as a string, a series is returned from <code>.loc</code>, Pass a list to get a DataFrame back.

In [21]:
titanic.loc[[50], :]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Labels
50,59,1.0,2.0,"West, Miss. Constance Mirium",female,5.0,1.0,2.0,C.A. 34651,27.75,NaN,S,

In [11]:
#selection using evaluated statements.
#select rows where Embarked equal C
titanic[titanic["Embarked"] == "C"]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [12]:
#select all rows where sex equals male and display only the age column
titanic.loc[titanic["Sex"] == "male", ["Age"] ]

      Age
0    22.0
4    35.0
5     NaN
6    54.0
7     2.0
..    ...
883  28.0
884  25.0
886  27.0
889  26.0
890  32.0

[577 rows x 1 columns]

Try the select row functions with different Attributes.

<u>Deleting rows and columns (drop)</u>

Rows and columns could be deleted (dropped) using the following methods:

- Delete rows using the index number.
- Delete rows using iloc selector.

In [13]:
#delete row number 0, 1 and 2
titanic = titanic.drop([0,1,2], axis=0)

#print new dataframe
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
#delete the first five rows using iloc selector
titanic = titanic.iloc[5:,]

#print new dataframe
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

<u>Add rows</u>

In dataframe <code>.append()</code> can pass a dictionary of key-value pairs i.e.

- key = Column name.
- Value = Value at that column in a new row.

In [15]:
titanic = titanic.append({'PassengerId' : '10000' , 'Age' : 22} , ignore_index=True)

#print new dataframe
titanic

<ipython-input-15-8efb7627bbe2>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  titanic = titanic.append({'PassengerId' : '10000' , 'Age' : 22} , ignore_index=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7000,G6,S
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.5500,C103,S
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
879,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,0.0,112053,30.0000,B42,S
880,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2.0,W./C. 6607,23.4500,NaN,S
881,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0000,C148,C
882,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.7500,NaN,Q
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN

The above function will not modify the existing dataframe object titanic, it will return a new dataframe containing a copy of the contents of the existing dataframe and with a new row appended at its end.

New DataFrame’s index is not the same as the original dataframe because <code>ignore_index</code> is passed as <i>True</i> in the <code>.append()</code> function. Also, for columns that were not present in the dictionary <i>NaN</i> value is added.

Add row in the dataframe using dataframe <code>.append()</code> and Series

Also a series could be passed to <code>.append()</code> to append a new row in the dataframe.

Using the following function the attribute name doesn't need to be included, just the instances should be added for each attribute as follows:

In [16]:
# Pass a series in append() to append a row in dataframe
titanic = titanic.append(pd.Series(['900', 0, '1', 'adam K','male','30','0','0','4400','7.2','C50','C'], index=titanic.columns ), ignore_index=True)

#print new dataframe
titanic

<ipython-input-16-e51fd433af79>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  titanic = titanic.append(pd.Series(['900', 0, '1', 'adam K','male','30','0','0','4400','7.2','C50','C'], index=titanic.columns ), ignore_index=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
880,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2.0,W./C. 6607,23.45,NaN,S
881,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0,C148,C
882,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.75,NaN,Q
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN
884,900,0.0,1,adam K,male,30,0,0,4400,7.2,C50,C

Multiple rows in the dataframe could be added using dataframe <code>.append()</code> and Series.

A list of series can be passed too in dataframe <code>.append()</code> for appending multiple rows in dataframe.

The following will create a list of series with the same column names as dataframe then pass this list of series to the <code>.append()</code> function:

In [17]:
#list of series
listOfSeries = [pd.Series(['900', 0, '3', 'adam K','male','30','0','0','4400','7.2','C7','C'], index=titanic.columns ) ,
                pd.Series(['901', 1, '1', 'justin m','male','10','0','0','4500','7.55','E50','C'], index=titanic.columns ) ,
                pd.Series(['902', 1, '1', 'sarah F','female','23','0','0','7800','54.2','C80','C'], index=titanic.columns ) ]

#print new dataframe
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
880,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,2.0,W./C. 6607,23.45,NaN,S
881,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,0.0,111369,30.0,C148,C
882,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,0.0,370376,7.75,NaN,Q
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN
884,900,0.0,1,adam K,male,30,0,0,4400,7.2,C50,C

In [18]:
# Pass a list of series to the append() to add multiple rows
titanic = titanic.append(listOfSeries , ignore_index=True)

#print new dataframe
titanic

<ipython-input-18-7a5fbf92dc3e>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  titanic = titanic.append(listOfSeries , ignore_index=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN
884,900,0.0,1,adam K,male,30,0,0,4400,7.2,C50,C
885,900,0.0,3,adam K,male,30,0,0,4400,7.2,C7,C
886,901,1.0,1,justin m,male,10,0,0,4500,7.55,E50,C
887,902,1.0,1,sarah F,female,23,0,0,7800,54.2,C80,C

<u>Add Columns</u>

Add new columns in a DataFrame using <code>[ ]</code> operator

In [19]:
#add a new column “labels” where value = empty in each index
titanic['Labels']=''

#print new dataframe
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Labels
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S,
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C,
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S,
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S,
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,
884,900,0.0,1,adam K,male,30,0,0,4400,7.2,C50,C,
885,900,0.0,3,adam K,male,30,0,0,4400,7.2,C7,C,
886,901,1.0,1,justin m,male,10,0,0,4500,7.55,E50,C,
887,902,1.0,1,sarah F,female,23,0,0,7800,54.2,C80,C,

<u>Renaming columns</u>

There are two ways to rename a column in DataFrame:

- Rename by mapping old names to new names using a dictionary.
- Rename by providing a function to change the column names with (Functions are applied to every column name).

<u>Rename by mapping old names to new names using a dictionary.</u>

In [36]:
# Rename columns using a dictionary to map values
titanic = titanic.rename(columns={"Sex": "Gender"})

#print new dataframe
titanic

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Labels
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S,
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C,
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S,
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S,
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,
884,900,0.0,1,adam K,male,30,0,0,4400,7.2,C50,C,
885,900,0.0,3,adam K,male,30,0,0,4400,7.2,C7,C,
886,901,1.0,1,justin m,male,10,0,0,4500,7.55,E50,C,
887,902,1.0,1,sarah F,female,23,0,0,7800,54.2,C80,C,

In [37]:
#the inplace parameter will change the dataframe without assignment
titanic.rename(columns={"Pclass": "Ticket class"}, inplace=True)

#print new dataframe
titanic

,PassengerId,Survived,Ticket class,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Labels
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S,
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C,
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S,
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S,
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,
884,900,0.0,1,adam K,male,30,0,0,4400,7.2,C50,C,
885,900,0.0,3,adam K,male,30,0,0,4400,7.2,C7,C,
886,901,1.0,1,justin m,male,10,0,0,4500,7.55,E50,C,
887,902,1.0,1,sarah F,female,23,0,0,7800,54.2,C80,C,

In [ ]:
# Rename multiple columns in one go with a larger dictionary
titanic.rename(columns={"Ticket": "Ticket Number", "Cabin": "Cabin Number"}, inplace=True)

#print new dataframe
titanic

<u>Rename by providing a function to change the column names with. Functions are applied to every column name.</u>

In [38]:
# Rename all columns using a function, e.g. convert all column names to lowercase
titanic.rename(columns=str.lower)

#print new dataframe
titanic

,PassengerId,Survived,Ticket class,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Labels
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S,
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C,
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S,
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S,
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,
884,900,0.0,1,adam K,male,30,0,0,4400,7.2,C50,C,
885,900,0.0,3,adam K,male,30,0,0,4400,7.2,C7,C,
886,901,1.0,1,justin m,male,10,0,0,4500,7.55,E50,C,
887,902,1.0,1,sarah F,female,23,0,0,7800,54.2,C80,C,

In [39]:
# Rename all columns using a function, e.g. convert all column names to uppercase
titanic.rename(columns=str.upper)

#print new dataframe
titanic

,PassengerId,Survived,Ticket class,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Labels
0,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S,
1,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C,
2,11,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.0,1.0,1.0,PP 9549,16.7,G6,S,
3,12,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.0,0.0,0.0,113783,26.55,C103,S,
4,13,0.0,3.0,"Saundercock, Mr. William Henry",male,20.0,0.0,0.0,A/5. 2151,8.05,NaN,S,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,10000,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,
884,900,0.0,1,adam K,male,30,0,0,4400,7.2,C50,C,
885,900,0.0,3,adam K,male,30,0,0,4400,7.2,C7,C,
886,901,1.0,1,justin m,male,10,0,0,4500,7.55,E50,C,
887,902,1.0,1,sarah F,female,23,0,0,7800,54.2,C80,C,

<u>Exporting and Saving Pandas DataFrames</u>

To export a csv file the following function is used:

In [40]:
titanic.to_csv("output_titanic.csv", index=False, encoding='utf8')

Output data to a CSV file  index=False is added to the code so the row numbers are not included in the output file, and to avoid character issues utf8 encoding for input/output is added.

<u>Group by</u>

Group by essentially splits the data into different groups depending on the selected variable.

The <code>groupby()</code> function returns a Groupby object but essentially describes how the rows of the original data set have been split.

Functions like </code>max()</code>, <code>min()</code>, <code>mean()</code>, <code>first()</code>, <code>last()</code>, <code>count()</code> can be applied to the Groupby object to obtain summary statistics for each group.

In [41]:
# Get the first entry for each Embarked
titanic.groupby(['Embarked']).first()

,PassengerId,Survived,Ticket class,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Labels
Embarked,,,,,,,,,,,,
C,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,B78,
Q,17,0.0,3.0,"Rice, Master. Eugene",male,2.0,4.0,1.0,382652,29.1250,C78,
S,9,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,G6,

In [42]:
# Get the mean of the survived/not survived per Age
titanic.groupby(['Ticket class'])['Survived'].mean()

Ticket class
1.0    0.629108
2.0    0.472826
3.0    0.242798
1      0.666667
3      0.000000
Name: Survived, dtype: float64

In [43]:
#get the number of embarked
titanic.groupby(['Embarked']).count()

,PassengerId,Survived,Ticket class,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Labels
Embarked,,,,,,,,,,,,
C,171,171,171,171,171,133,171,171,171,171,72,171
Q,76,76,76,76,76,28,76,76,76,76,4,76
S,638,638,638,638,638,548,638,638,638,638,127,638